@CHARSET "ISO-8859-1";

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/******************************************************************************
 * Monta layout em linhas
 ******************************************************************************/
.hidden {
 	display: none;
 }
body {
	margin:0;
	padding:0;
	border:none;
	font: 11px/1.5 Verdana, Arial, Helvetica, sans-serif;
	background:#FFF;
	color:#333;
	text-align:center;
}
#tudo {
	width:1050px;     
	margin:0 auto;
	text-align:left;
}
#topo {
	border-bottom:1px solid #c30;
}
#atalhos {
	border-bottom:1px solid #c30;
}
#rodape {
	clear:both;
	text-align:center;
	border-top:1px solid #c30;
}
ul, ol {
	margin:0;
	padding:0;
	list-style:none;
}
h1, h2, h3 {
	margin: 0.8em 0;
	color:#c30;
	font-size:1.4em;
}
h2 {
	font-size:1.2em;
}
h3 {
	font-size:1.0em;
}

.dest {
	color:#039;
}
/******************************************************************************
 * / Monta layout em linhas
 ******************************************************************************/
/******************************************************************************
 * Define 3 colunas
 ******************************************************************************/
#principal {
	float:left;
	width:460px;
	margin-left:10px; 	
	text-align:justify;
	border:dotted #c30;
	border-width: 0 1px;
	padding: 0 10px;
}
#nav {
	width:20%;
	float:left;
}
#apoio {
	width:120px;
	float:right;
}
/******************************************************************************
 * / Define 3 colunas
 ******************************************************************************/
/******************************************************************************
 * Define 2 colunas
 ******************************************************************************/
body#duascolunas #apoio {
	display:none;
}
body#duascolunas #principal {
	width:75%;
	border-right-width:0;
	padding-right:0;
	margin-left: 0;
}
/******************************************************************************
 * / Define 2 colunas
 ******************************************************************************/
/******************************************************************************
 * Define menu
 ******************************************************************************/
ul.menu {
	width: 225px;
}
ul.menu li {
	text-align: left;
	margin-left: 20px;
}
ul.menu li:hover {
	background-color: #FFF;
}
/******************************************************************************
 * / Define menu
 ******************************************************************************/
/******************************************************************************
 * Define itens
 ******************************************************************************/
ul a:LINK ,
ul a:HOVER ,
ul a:VISITED ,
ul a:ACTIVE {
	text-decoration: none;
	border: none;
}
ul a img {
	border: none;
	display: none;
}
ul.itens {
	width: 100%;
}
ul.itens li {
	width: 250px;
	margin-left: 20px;
	height: 25px;
}
ul.itens li:hover {
	background-color: #FFA;
}
ul.itens li span.nomeArquivo {
	text-align: left;
}
ul.itens li:HOVER img {
	padding-top: 5px;
	display: block;
}
/******************************************************************************
 * / Define itens
 ******************************************************************************/
/******************************************************************************
 * Define imagem lista
 ******************************************************************************/
li.dir {
	list-style-image: url("../img/dir.gif");
}
li.as {
	list-style-image: url("../img/as.gif");
}
li.asp {
	list-style-image: url("../img/asp.gif");
}
li.avi {
	list-style-image: url("../img/avi.gif");
}
li.bak {
	list-style-image: url("../img/bak.gif");
}
li.bat {
	list-style-image: url("../img/bat.gif");
}
li.bmp {
	list-style-image: url("../img/bmp.gif");
}
li.css {
	list-style-image: url("../img/css.gif");
}
li.doc {
	list-style-image: url("../img/doc.gif");
}
li.fla {
	list-style-image: url("../img/fla.gif");
}
li.flv {
	list-style-image: url("../img/flv.gif");
}
li.fon {
	list-style-image: url("../img/fon.gif");
}
li.gif {
	list-style-image: url("../img/gif.gif");
}
li.htm {
	list-style-image: url("../img/htm.gif");
}
li.html {
	list-style-image: url("../img/htm.gif");
}
li.ini {
	list-style-image: url("../img/ini.gif");
}
li.jpg {
	list-style-image: url("../img/jpg.gif");
}
li.js {
	list-style-image: url("../img/js.gif");
}
li.log {
	list-style-image: url("../img/log.gif");
}
li.mdb {
	list-style-image: url("../img/mdb.gif");
}
li.mov {
	list-style-image: url("../img/mov.gif");
}
li.mp3 {
	list-style-image: url("../img/mp3.gif");
}
li.mpg {
	list-style-image: url("../img/mpg.gif");
}
li.ogg {
	list-style-image: url("../img/ogg.gif");
}
li.pdf {
	list-style-image: url("../img/pdf.gif");
}
li.php {
	list-style-image: url("../img/php.gif");
}
li.png {
	list-style-image: url("../img/png.gif");
}
li.ppt {
	list-style-image: url("../img/ppt.gif");
}
li.pub {
	list-style-image: url("../img/pub.gif");
}
li.rar {
	list-style-image: url("../img/rar.gif");
}
li.swf {
	list-style-image: url("../img/swf.gif");
}
li.txt {
	list-style-image: url("../img/txt.gif");
}
li.vsd {
	list-style-image: url("../img/vsd.gif");
}
li.wav {
	list-style-image: url("../img/wav.gif");
}
li.wma {
	list-style-image: url("../img/wma.gif");
}
li.wmv {
	list-style-image: url("../img/wmv.gif");
}
li.xls {
	list-style-image: url("../img/xls.gif");
}
li.xml {
	list-style-image: url("../img/xml.gif");
}
li.zip{
	list-style-image: url("../img/zip.gif");
}
li.conf{
	list-style-image: url("../img/conf.gif");
}
li.htaccess{
	list-style-image: url("../img/conf.gif");
}
li.index{
	list-style-image: url("../img/index.gif");
}
/******************************************************************************
 * / Define imagem lista
 ******************************************************************************/
/******************************************************************************
 * Define listagem atalhos
 ******************************************************************************/
.listaAtalhos {  margin: 10px; }
.listaAtalhos .atalho { width: 210px; float: left; }
.listaAtalhos .atalho a { float: left; }
.listaAtalhos .atalho img { float: left; margin-left: 10px; cursor: pointer; }
/******************************************************************************
 * / Define listagem atalhos
 ******************************************************************************/
